<p><%= link_to('Write',:controller => 'fnsclient',:action => 'post')%></p>
<p><%= link_to('Control Message',:controller => 'fnsclient',:action => 'control')%></p>
<p><%= link_to('History',:controller => 'main',:action => 'history')%></p>
<p><%= link_to('Social Router','http://socail.socialrouter')%></p>
<p><%= link_to('Add Localhost',:controller => 'main',:action => 'add_localhost')%></p>
<p><%= link_to('Add Host',:controller => 'main',:action => 'add_host')%></p>
<p><%= link_to('Key Pool',:controller => 'main',:action => 'key_pool')%></p>
<p><%= link_to('Upload Key',:controller => 'main',:action => 'upload_key')%></p>
<p><%= link_to('System Status',:controller => 'main',:action => 'status')%></p>
