<p><%= link_to('Write',:controller => 'fnsclient',:action => 'post')%></p>
<p><%= link_to('Control Message',:controller => 'fnsclient',:action => 'control')%></p>
<p><%= link_to('History',:controller => 'main',:action => 'history')%></p>
<p><%= link_to('Hosts',:controller => 'main',:action => 'hosts')%></p>
<p><%= link_to('Memberlists',:controller => 'main',:action => 'memberlists')%></p>
<p><%= link_to('System Status',:controller => 'main',:action => 'status')%></p>
<p><%= link_to('Social Router','http://socail.socialrouter')%></p>
