<%= button_to "add host",{:controller => 'main', :action => 'add_host'},{:method => :get} %>
<table border="1" cellpadding="4">
<tr>
<th>host_name</th>
<td>host_domain</td>
<td>key</td>
<td>action</td>
</tr>
<% @hosts.each_key do |h| -%>
  <tr>
  <th><%= h %></th>
  <td><%= @hosts[h]["host_domain"] %></td>
    <% if @hosts[h]["key"] == 0 %>
      <td><%=  button_to "add",{:controller => 'main',:action => 'upload_key',:host_name => h},{:method => :get} %></td>
    <% else %>
      <td>true<td>
    <% end %>
    <td><%=  button_to "delete",{:controller => 'main',:action => 'hosts',:host_name => h},{:method => :post} %></td>
  </tr>
<% end -%>
</table>
